h2 
    span
        i.fa.fa-wrench &nbsp;
    span Product Management

hr

h3 Create a Bill of Materials

.row
    form(name="recipeAddForm"
        ng-submit="createRecipe()")
        .col-md-2
            h5 Name
            input.form-control(name="input" 
                type="text"
                placeholder="Name"
                ng-model="formData.name" required)
        .col-md-2
            h5 Group
            input.form-control(name="input" 
                type="text"
                placeholder="Category"
                ng-model="formData.creator")


        .col-md-6
            a(ng-click="addNew()")
                + add new item to bill of materials
            form(name="mainForm" ng-submit="submitAll()")
                .well
                    .item(
                        ng-repeat="item in items" 
                        ng-form="subForm")          
                        //- .row(ng-repeat="material in bom")
                        select.mos| filter:search:strict"| filter:search:stricts
                            option(ng-repeat="ingredient in ingredients" ng-model="ingredient._id" value="{{ingredient._id}}")
                                {{ingredient.productName}}
                        //- input.form-control(
                        //-     type="text" 
                        //-     required name="name" 
                        //-     ng-model="item.material_id")
                        input.form-control(
                            type="text" 
                            required name="name" 
                            ng-model="item.quantity")
                        span(
                            ng-show="subForm.name.$error.required")
                            required
        .col-md-2
            button.btn.moss-btn(type="submit" id="submitnew" value="Create") Save
                        //- button(
                        //-     type="button" 
                        //-     ng-disabled="subForm.$invalid" 
                        //-     ng-click="submitOne(item)")
                        //-     Submit One
                
                    //- ng-disabled="mainForm.$invalid")




        //- ng-controller="recipesController"
    //- .row.well
    //-     .col-md-4
    //-         select.form-control.duplicate-this
    //-             option(ng-repeat="ingredient in ingredients" value="{{ingredient._id}}"){{ingredient.productName}}
    //-     .col-md-4
    //-         input.form-control(name="quantity"
    //-             placeholder="Quantity"
    //-             ng-model="formData.quantity"
    //-             )
    //-     .col-md-4
    //-         input.form-control.btn(ng-click value="Add")

hr
hr
.row
    .col-md-12
        accordion
            accordion-group(
                heading="{{recipe.name}}"
                ng-repeat="recipe in recipes")
                h4 Name: {{recipe.name}}
                h5 Group: {{recipe.creator}}
                //- h6 {{recipe.bom}}
                .item(class="{{material.active}}" ng-repeat="material in recipe.bom")
                    p  | filter:search:{{material._id}}                 
                    p {{material.quantity}}
                    p {{material.active}}

//- .row
//-     .col-md-12
//-         article.bom-item(ng-repeat="recipe in recipes")
//-             {{recipe.name}}
