.row
    form.recipe-add-form(name="recipeAddForm"
        ng-controller="recipesController"
        ng-submit="createrecipe()"
        )
        .col-md-4
            input.form-control(name="input" 
                placeholder="Name"
                ng-model="formData.name" required)
        .col-md-2
            input.form-control(name="input" 
                placeholder="Name"
                ng-model="formData.creator")
        .col-md-1
            input.form-control(name="input" 
                placeholder="Ingredients"
                ng-model="formData.ingredients")

            input.form-control.btn(type="submit" id="submitnew" value="Create")

